@using WebApplication1.Models.Entities
@model IEnumerable<Product>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Product catalogue</title>
    </head>
    <body>
    <table>
        @foreach (Product p in Model)
        {
            string description = p?.Description ?? "";
            decimal? price = p?.Price ?? 0;
            <tr>
                <td>@p.Name</td>
                <td>@description</td>
                <td>@price</td>
                <td>@p.Category.Name</td>
                <td>@p.Manufacturer.Name</td>
            </tr>
        }
    </table>
    </body>
</html>
}
